header {
    background-color: #c0bdbd;
    color: white;
}

#mainLogo {
    height: 15vh;
}

.fa-gears {
    font-size: xx-large;
    color: #303841;
}
.fa-moon {
    font-size: xx-large;
    color: #303841;
}
.parameters {
    background-color: #303841;
    color: white;
}
footer p {
    font-size: small;
}

#parametersPage {
    background-color: #c0bdbd;
    min-height: 60vh;
    border-top: 1px solid black;
    color: white;
}

.submitBtn {
    background-color: #303841;
    color: white;
}

label {
    cursor: pointer;
}
