body {
    scroll-behavior: smooth;
}

header {
    background-color: #c0bdbd;
    color: white;
}

#mainLogo {
    height: 20vh;
}

.fa-gears {
    font-size: xx-large;
    color: #303841;
}
.fa-moon {
    font-size: xx-large;
    color: #303841;
}

#feeds {
    border-top: #303841 1px solid;
}

footer p {
    font-size: small;
}

#parametersPage {
    min-height: 60vh;
    border-top: 1px solid black;
}

.submitBtn {
    background-color: #303841;
    color: white;
}

label {
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
