header {
    background-color: #c0bdbd;
    color: white;
}

.fa-gears {
    font-size: xx-large;
    color: #303841;
}
.fa-moon {
    font-size: xx-large;
    color: #303841;
}
.parameters {
    background-color: #303841;
    color: white;
}
